<section>
                
    <% if (currentPage !== 1 && prevPage !== 1) { %>
        <a href="<%= url %>&page=1">First Page...</a>
    <% } %>
        
    <% if(isPrevPage) { %>
        <a href="<%= url %>&page=<%= prevPage %>"><%= prevPage %></a>
    <% } %>
        
    
    <a><%= currentPage %></a>
        

    <% if(isNextPage) { %>
        <a href="<%= url %>&page=<%= nextPage %>"><%= nextPage %></a>
    <% } %>
    
    <% if(lastPage !== currentPage && lastPage !== nextPage && lastPage > currentPage) { %>
        <a href="<%= url %>&page=<%= lastPage %>">...Last Page</a>
    <% } %>
            
</section>