<div class="search-information">
    <div class="search-information__data">
        <strong><%= numOfResults %>&nbsp;</strong>
        total results for &nbsp;<strong class="search-information__search-query">"<%= searchQuery %>"</strong>
        <span>
            <strong><%= resultStart %> - <%= resultEnd %> </strong> of <strong><%= numOfResults %></strong> results
        </span>
    </div>
</div>