<div>
    <div>
        <strong><%= numOfResults %>&nbsp;</strong>
        total results for &nbsp;<strong>"<%= searchQuery %>"</strong>
        <span>
            <strong><%= resultStart %> - <%= resultEnd %> </strong> of <strong><%= numOfResults %></strong> results
        </span>
    </div>
</div>