<%- include('../includes/top') %>

<%- include('../includes/navbar') %>

<div class="profile__main row">
    <div class="col-1-of-3 profile__col profile__col--information">
        <h2 class="profile__sub-title">Profile information</h2>

        <div class="profile__information">
            <% if(isUserProfile) { %>
                <a class="profile__icon profile__icon--link profile__icon--main-edit-icon" href="<%= authenticatedUserUrl %>/edit">
                    <i class="fas fa-user-edit"></i>
                </a> 
            <% } %>

            <div class="profile__image" style="background-image: url('<%= profilePicUrl %>')">
                <% if(isUserProfile) { %>
                    <a href="<%= authenticatedUserUrl %>/edit" class="profile__icon profile__icon--link">
                            <i class="fas fa-camera"></i>
                    </a>
                <% } %>
            </div>

            <h1 class="profile__username">
                <%= username %>
            </h1>
    
            <p class="profile__reviews-count">
                <%= booksRead %> reviews
            </p>
        
            <p class="profile__email">
                <span class="profile__icon"><i class="fas fa-envelope"></i> </span>
                <%= email %>
            </p>
        
            <p class="profile__date">
                <span class="profile__icon"><i class="far fa-calendar-alt"></i> Member since </span>
                <%= memberSince %>
            </p>

            <% if(isUserProfile) { %>
                <a class="btn btn--red" href="<%= authenticatedUserUrl %>/settings">Change password</a>
            <% } %>

        </div>

        
    </div>  

    <div class="col-2-of-3 profile__col profile__col--reviews">
        <h2 class="profile__sub-title">Reviews</h2>

        <div class="profile__reviews-list">
            <% for (review of reviews) { %>
                
                <div class="profile__review">
                    <a class="profile__review--link" href="/book/<%= review.bookId %>#<%= review._id %>">
                        <h3 class="profile__review--book-title">Book Title: <%= review.bookTitle %></h3>
                    </a>
                    <p class="profile__review--title"><%= review.title %></p>
                    <span class="profile__review--content">
                        <%= review.review %>
                    </span>
                    <p class="profile__review--rating">
                        <% for(star of review.rating) { %> 

                            <% if(star === '*') { %>
                                <i class="fas fa-star"></i>                                   
                            <% } %>

                            <% if(star === '-') { %>
                                <i class="far fa-star"></i>
                            <% } %>

                        <% } %> 
                    </p>
                    
                    <% if(isUserProfile) { %>
                        <p class="profile__review--options">
                            <a class="btn" href="/user/<%= userId %>/review/<%= review._id %>/edit">Edit</a>
                            <a class="btn btn--red" href="/user/<%= userId %>/review/<%= review._id %>/delete">Delete</a>
                        </p>
                    <% } %>

                </div>
                

            <% } %>

        </div>

    </div>

</div>

<%- include('../includes/bottom') %>