<%- include('../includes/top') %>

<%- include('../includes/navbar') %>

<div class="profile__main row">

    <div class="col-1-of-3">&nbsp;</div>

    <div class="col-1-of-3 profile__col profile__col--information">
        <h2 class="profile__sub-title">Edit profile information</h2>

        <% if(inputErrors.length > 0) { %>
            <% for(error of inputErrors) { %>
            
                <% if(error.param === 'invalidImage=true') { %>
                
                    <p> Invalid image file, please try another image. </p>
                
                <% } %>

            <% } %>

        <% } %>

        <div class="profile__information">
            <form action="/user<%= url %>" method="POST" enctype="multipart/form-data">
                

                <div class="profile__picture profile__picture--edit">
                    <label for="profileImage">Profile picture:</label>
                    <input type="file" name="profileImage" id="profileImage" class="profile__edit-field profile__edit-field--file" accept="image/x-png,image/jpg,image/jpeg" >
                </div>
                
                <div class="profile__username profile__username--edit">
                    <label for="username-edit">Username:</label>
                    <input class="profile__edit-field profile__edit-field--input" type="text" name="username" id="username-edit" value="<%= username %>" required>
                </div>
                
                <div class="profile__email profile__email--edit">
                    <label for="email-edit"><span class="profile__icon"><i class="fas fa-envelope"></i></span> Email address:</label>
                    <input class="profile__edit-field profile__edit-field--input" type="email" name="email" id="email-edit" value="<%= email %>" required>
                </div>
                    
                <a href="<%= authenticatedUserUrl %>" class="btn btn--red">Cancel</a>
                <button type="submit" class="btn">Save changes</button>
            </form>

        </div>
    </div>  

    <div class="col-1-of-3">&nbsp;</div>

</div>

<%- include('../includes/bottom') %>