<%- include('../includes/top') %>
<div class="container mt-4">
    <div class="row p-4 rounded-top bg-primary"">

        <div class="col-sm-4 text-center">
            <div class="profile__pic rounded-circle d-inline-block" style="background-image: url('<%= profilePicUrl %>')"></div>
        </div>
        <div class="col-sm-8">
            <h1 class="profile__username text-light display-4 mb-4"><%= username %></h1>
            <p class="lead text-light">
                <i class="fas fa-envelope"></i>
                <span class="font-weight-bold">Email address:</span>
                <%= email %>
            </p>
            <p class="lead text-light">
                <i class="fas fa-book"></i>
                <span class="font-weight-bold">Books reviewed:</span>
                <%= booksRead %>
            </p>
            <p class="lead text-light">
                <i class="far fa-calendar-alt"></i>
                <span class="font-weight-bold">Member since:</span>
                <%= memberSince %>
            </p>
        </div>

    </div>

    <div class="row mt-2">
        <ul class="profile__nav nav nav-tabs w-100" role="tablist">
            <li class="profile__nav-tab nav-item w-50 text-center">
                <a class="nav-link active" data-toggle="tab" href="#userReviews" role="tab" aria-controls="reviews" aria-selected="true">Reviews</a>
            </li>
            <li class="profile__nav-tab nav-item w-50 text-center">
                <a class="nav-link" data-toggle="tab" href="#userBooks" role="tab" aria-controls="books" aria-selected="false"><%= savedBooks.length %> Books Saved</a>
            </li>
        </ul>
        <div class="profile__nav-content tab-content w-100 mt-2 px-2">
            <div class="tab-pane fade show active" id="userReviews" role="tabpanel" aria-labelledby="home-tab">
                <% if(reviews.length > 0) { %>
                    <% for (review of reviews) { %>
                        
                        <div class="profile__review-body bg-light">
                            
                            <a class="profile__review-link--book" href="/book/<%= review.bookId %>">
                                <h2 class="profile__review-book-title bg-primary pl-2"><%= review.bookTitle %></h2>
                            </a>

                            <a class="profile__review-link--review" href="/book/<%= review.bookId %>#<%= review._id %>">
                                <h3 class="profile__review-review-title pl-2"><%= review.title %></h3>
                            </a>
                            
                            <p class="profile__review-content pl-2"><%= review.review %></p>
                            
                            <p class="profile__review-rating pl-2 pb-2 text-primary">
                                <% for(star of review.rating) { %> 
        
                                    <% if(star === '*') { %>
                                        <i class="fas fa-star"></i>                                   
                                    <% } %>
        
                                    <% if(star === '-') { %>
                                        <i class="far fa-star"></i>
                                    <% } %>
        
                                <% } %> 
                            </p>
                            
                        </div>

                    <% } %>
                
                <% } else { %>

                    No reviews found

                <% } %>
            </div>

            <div class="tab-pane fade" id="userBooks" role="tabpanel" aria-labelledby="profile-tab">
                <% if(savedBooks.length > 0) { %>
                    <% for(book of savedBooks) { %>
                        <a href="/book/<%= book.bookId %>" class="profile__saved-book-link mx-2" >
                            <img class="profile__saved-book-image" src="<%= book.bookImage %>" title="<%= book.bookTitle %>" alt="<%= book.bookTitle %>">
                        </a>

                    <% } %>
                
                <% } else { %>

                    No Books saved found

                <% } %>
            </div>
        </div>
    </div>

</div>
<%- include('../includes/bottom') %>