<%- include('../includes/top') %>

<%- include('../includes/navbar') %>

<div class="profile__main row">
    <div class="col-1-of-3 profile__col profile__col--information">
        <h2 class="profile__sub-title">Profile information</h2>

        <div class="profile__information">
            <a class="profile__icon profile__icon--link profile__icon--main-edit-icon" href="<%= authenticatedUserUrl %>/edit">
                <i class="fas fa-user-edit"></i>
            </a>    

            <div class="profile__image" style="background-image: url('<%= profilePicUrl %>')">
                <!-- ADD CONDITIONALS TO ALL LINK ICONS THAT GO TO PROFILE-EDIT -->
                <a href="<%= authenticatedUserUrl %>/edit" class="profile__icon profile__icon--link">
                        <i class="fas fa-camera"></i>
                </a>
            </div>

            <h1 class="profile__username">
                <%= username %>
                <a href="<%= authenticatedUserUrl %>/edit" class="profile__icon profile__icon--link">
                    <i class="far fa-edit"></i>
                </a>
            </h1>
    
            <p class="profile__reviews-count">
                <%= booksRead %> reviews
            </p>

            <p class="profile__bio">
                "Lorem ipsum dolor sit amet, consectetur adipisicing elit. Magni, labore. Deleniti ducimus expedita corrupti, dicta quaerat dolor quas amet debitis atque quis officiis, aspernatur voluptatibus qui consequatur, alias et autem."
                <a href="<%= authenticatedUserUrl %>/edit" class="profile__icon profile__icon--link">
                    <i class="far fa-edit"></i>
                </a>
            </p>
        
            <p class="profile__email">
                <span class="profile__icon"><i class="fas fa-envelope"></i> </span>
                <%= email %>
                <a href="<%= authenticatedUserUrl %>/edit" class="profile__icon profile__icon--link">
                    <i class="far fa-edit"></i>
                </a>
            </p>
        
            <p class="profile__date">
                <span class="profile__icon"><i class="far fa-calendar-alt"></i> Member since </span>
                <%= memberSince %>
            </p>

        </div>

        
    </div>  

    <div class="col-2-of-3 profile__col profile__col--reviews">
        <h2 class="profile__sub-title">Reviews</h2>

        <div class="profile__reviews-list">

            <a class="profile__review--link" href="#">
                <div class="profile__review">
                    <h3 class="profile__review--book-title">Book Title: the review</h3>
                    <p class="profile__review--title">Review title!!</p>
                    <span class="profile__review--content">
                        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Dolore iste modi excepturi aliquid, consectetur ducimus! Quos, voluptatum aut vitae tempora aperiam obcaecati porro saepe molestias corporis sed nihil dolores! Nobis Lorem ipsum dolor sit, amet consectetur adipisicing elit. Dolore iste modi excepturi aliquid, consectetur ducimus! Quos, voluptatum aut vitae tempora aperiam obcaecati porro saepe molestias corporis sed nihil dolores! Nobis Lorem ipsum dolor sit, amet consectetur adipisicing elit. Dolore iste modi excepturi aliquid, consectetur ducimus! Quos, voluptatum aut vitae tempora aperiam obcaecati porro saepe molestias corporis sed nihil dolores! Nobis!
                    </span>
                    <p class="profile__review--rating">4/5</p>
                </div>
            </a>

            <a class="profile__review--link" href="#">
                <div class="profile__review">
                    <h3 class="profile__review--book-title">Book Title: the review</h3>
                    <p class="profile__review--title">Review title!!</p>
                    <span class="profile__review--content">
                        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Dolore iste modi excepturi aliquid, consectetur ducimus! Quos, voluptatum aut vitae tempora aperiam obcaecati porro saepe molestias corporis sed nihil dolores! Nobis Lorem ipsum dolor sit, amet consectetur adipisicing elit. Dolore iste modi excepturi aliquid, consectetur ducimus! Quos, voluptatum aut vitae tempora aperiam obcaecati porro saepe molestias corporis sed nihil dolores! Nobis Lorem ipsum dolor sit, amet consectetur adipisicing elit. Dolore iste modi excepturi aliquid, consectetur ducimus! Quos, voluptatum aut vitae tempora aperiam obcaecati porro saepe molestias corporis sed nihil dolores! Nobis!
                    </span>
                    <p class="profile__review--rating">4/5</p>
                </div>
            </a>

            <a class="profile__review--link" href="#">
                <div class="profile__review">
                    <h3 class="profile__review--book-title">Book Title: the review</h3>
                    <p class="profile__review--title">Review title!!</p>
                    <span class="profile__review--content">
                        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Dolore iste modi excepturi aliquid, consectetur ducimus! Quos, voluptatum aut vitae tempora aperiam obcaecati porro saepe molestias corporis sed nihil dolores! Nobis Lorem ipsum dolor sit, amet consectetur adipisicing elit. Dolore iste modi excepturi aliquid, consectetur ducimus! Quos, voluptatum aut vitae tempora aperiam obcaecati porro saepe molestias corporis sed nihil dolores! Nobis Lorem ipsum dolor sit, amet consectetur adipisicing elit. Dolore iste modi excepturi aliquid, consectetur ducimus! Quos, voluptatum aut vitae tempora aperiam obcaecati porro saepe molestias corporis sed nihil dolores! Nobis!
                    </span>
                    <p class="profile__review--rating">4/5</p>
                </div>
            </a>

            <a class="profile__review--link" href="#">
                <div class="profile__review">
                    <h3 class="profile__review--book-title">Book Title: the review</h3>
                    <p class="profile__review--title">Review title!!</p>
                    <span class="profile__review--content">
                        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Dolore iste modi excepturi aliquid, consectetur ducimus! Quos, voluptatum aut vitae tempora aperiam obcaecati porro saepe molestias corporis sed nihil dolores! Nobis Lorem ipsum dolor sit, amet consectetur adipisicing elit. Dolore iste modi excepturi aliquid, consectetur ducimus! Quos, voluptatum aut vitae tempora aperiam obcaecati porro saepe molestias corporis sed nihil dolores! Nobis Lorem ipsum dolor sit, amet consectetur adipisicing elit. Dolore iste modi excepturi aliquid, consectetur ducimus! Quos, voluptatum aut vitae tempora aperiam obcaecati porro saepe molestias corporis sed nihil dolores! Nobis!
                    </span>
                    <p class="profile__review--rating">4/5</p>
                </div>
            </a>

            <a class="profile__review--link" href="#">
                <div class="profile__review">
                    <h3 class="profile__review--book-title">Book Title: the review</h3>
                    <p class="profile__review--title">Review title!!</p>
                    <span class="profile__review--content">
                        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Dolore iste modi excepturi aliquid, consectetur ducimus! Quos, voluptatum aut vitae tempora aperiam obcaecati porro saepe molestias corporis sed nihil dolores! Nobis Lorem ipsum dolor sit, amet consectetur adipisicing elit. Dolore iste modi excepturi aliquid, consectetur ducimus! Quos, voluptatum aut vitae tempora aperiam obcaecati porro saepe molestias corporis sed nihil dolores! Nobis Lorem ipsum dolor sit, amet consectetur adipisicing elit. Dolore iste modi excepturi aliquid, consectetur ducimus! Quos, voluptatum aut vitae tempora aperiam obcaecati porro saepe molestias corporis sed nihil dolores! Nobis!
                    </span>
                    <p class="profile__review--rating">4/5</p>
                </div>
            </a>

        </div>

    </div>

</div>

<%- include('../includes/bottom') %>