<%- include('../includes/top') %>

<%- include('../includes/navbar') %>

<div class="profile-content">

    <div class="user-content">
        <div class="user-reviews-title">
            <p>User Reviews</p>
        </div>

        <% for (review of reviews) { %>
            
            <div class="user-review">

                <a  class="user-review__title" href="/book/<%= review.bookId %>">
                    <p>Book: <%= review.bookTitle %></p>
                </a>
                <p class="user-review__book-title"><%= review.title %></p>
                <span class="user-review__review"><%= review.review %></span>
                <p>Rating: <%= review.rating %> / 5</p>
            </div>
        
        <% } %>

    </div>
    
    <div class="user-information">
        <h1 class="profile-name"><%= username %></h1>

        <div class="profile-pic-section">
            <img class="profile-pic" src="https://lakewangaryschool.sa.edu.au/wp-content/uploads/2017/11/placeholder-profile-sq.jpg" alt="profile-pic" >
        </div>
        
        <p class="user-data-section"><strong>Books read:</strong> &nbsp;<%= booksRead %> </p>
        <p class="user-data-section"><strong>Email:</strong> &nbsp;<%= email %></p>
        <p class="user-data-section"><strong>Member since:</strong> &nbsp;<%= memberSince %></p>
        
        <% if(isUserProfile) { %>

            <a href="<%= authenticatedUserUrl %>/edit">
                <button class="edit-profile-btn">Edit Profile</button>
            </a>

        <% } %>
        
    </div>
    
    <div class="user-content">

    </div>

</div>

<%- include('../includes/bottom') %>