<%- include('../includes/top') %>
<div class="profile-edit__section container">
    <form class="mt-5" action="<%= url %>" method="POST" enctype="multipart/form-data">
        
        <div class="row">
            <div class="col-lg-8 px-5 pt-1 pb-4 rounded mx-auto border">
                
                <h1 class="text-center text-primary pb-2 mb-4 border-bottom">Edit profile</h1>

                <label class="d-block d-sm-none mb-0" for="profileImage">Profile Photo:</label>
                <small class="text-muted">Only jpg / jpeg / png files allowed <span class="text-danger">*</span> </small>
                <div class="input-group">
                    <div class="input-group-prepend d-none d-sm-inline-block">
                        <span class="input-group-text" id="inputGroupFileAddon01">Profile Photo</span>
                    </div>
                    <div class="custom-file">
                        <input type="file" id="profileImage" class="custom-file-input <%= inputErrors.find(e => e.param === 'invalidImage=true') ? 'is-invalid' : '' %>" name="profileImage" accept="image/x-png,image/jpg,image/jpeg" aria-describedby="inputGroupFileAddon01">
                        <label class="custom-file-label" for="inputGroupFile01">Choose file</label>
                    </div>
                </div>
                <% for(error of inputErrors) { %>

                    <% if(error.param === "invalidImage=true") { %>
                
                        <div class="invalid-feedback d-block">
                            Invalid image file, please try another image.
                        </div>
                    
                    <% } %>
                <% } %>

                <div class="input-group mt-4">
                    <div class="input-group-prepend">
                        <div class="input-group-text">Username</div>
                    </div>
                    <input type="text" class="form-control" name="username" placeholder="Username" value="<%= username %>" required>
                </div>

                <div class="input-group mt-4">
                    <div class="input-group-prepend">
                        <div class="input-group-text">Email</div>
                    </div>
                    <input type="email" class="form-control <%= inputErrors.find(e => e.param === 'usedEmail=true') ? 'is-invalid' : '' %>" name="email" placeholder="Email" value="<%= email %>" required>
                </div>
                <% for(error of inputErrors) { %>

                    <% if(error.param === "usedEmail=true") { %>
                
                        <div class="invalid-feedback d-block">
                            Email already in use, please try another email address
                        </div>
                    
                    <% } %>
                <% } %>

                <div class="text-center mt-4">
                    <a class="btn btn-warning text-white" href="<%= authenticatedUserUrl %>/settings">Change password</a>
                </div>

                <div class="w-100 mt-4 d-flex justify-content-end">
                    <a href="<%= authenticatedUserUrl %>" class="btn btn-danger">Cancel</a>
                    <button class="btn btn-primary ml-4" type="submit">Update</button>
                </div>

            </div>
        </div>
    
    </form>

</div>
<%- include('../includes/bottom') %>