<%- include('../includes/top') %>

<%- include('../includes/navbar') %>

<div class="review-edit row">

    <h1 class="review-edit__title">Edit review</h1>

    <form action="/user<%= formAction %>" method="POST" class="review-edit__form">
        <div class="review-edit__block">
            <label class="review-edit__label" for="newReviewTitle">Title</label> <br>
            <input class="review-edit__input" type="text" name="newReviewTitle" id="newReviewTitle"  value="<%= reviewTitle %>" >
        </div>
        <div class="review-edit__block">
            <label class="review-edit__label" for="newReview">Review</label> <br>
            <textarea class="review-edit__textarea" name="newReview" id="newReview"><%= review %></textarea>
        </div>
        <div class="review-edit__block">
            <label class="review-edit__label" for="newReviewRating">Rating</label> <br>
            <input class="review-edit__input" type="number" min="1" max="5" name="newReviewRating" id="newReviewRating"  value="<%= reviewRating %>" >
        </div>

        <a href="<%= authenticatedUserUrl %>" class="btn btn--red">Cancel</a>
        <button type="submit" class="btn">Save changes</button>

    </form>

</div>

<%- include('../includes/bottom') %>