<%- include('../includes/top') %>


<div class="mainContentContainer">
    <%- include('../includes/navbar') %>
    <div class="mainContent">

        <div class="leftContainer">
            <div id="topcol">

                <div id="imagecol">
                    <% if(isAuthenticated) { %>

                        <form action="/book/<%= bookId %>/save" method="POST">
                            <input type="hidden" name="bookTitle" value="<%= bookTitle %>">
                            <input type="hidden" name="bookImage" value="<%= bookCoverUrl %>">
                            <input class="btn btn--small u-mb-1 u-w-100" type="submit" value="Save book">
                        </form>

                    <% } %>


                    <img class="bookCover" src="<%= bookCoverUrl %>" alt="Book Cover" >
                    <strong>
                        <p><%= numOfPages %> pages</p>
                    </strong>
                </div>

                <div id="metacol">
                    <h1><%= bookTitle %></h1>
                    <strong>By</strong> <a href="/author/<%= authorId %>"> <%= author %> </a>
                    <strong class="avgRating">Average rating: <span class="green"><%= avgRating %></span> </strong>
                    <span class="description">
                        <% for (p of review) { %>
                        
                            <p class="description-part"><%= p %></p>
                            
                        <% } %>
                    </span>
                </div>
            </div>

            <div>

                <p class="reviews-title">REVIEWS</p>
                
                <% if(isAuthenticated) { %>
                    <form class="review-form" action="/review/<%= bookId %>" method="POST">
                        <p class="write-review-title">Write a review</p>
                        
                        <div class="review-form-field">
                            <label for="title" >Title</label>
                            <input class="review-form-inputs" type="text" name="title">
                        </div>
                        
                        <div class="review-form-field">
                            <label for="review" >Review</label>
                            <textarea class="review-form-inputs" name="review"></textarea>
                        </div>
                        
                        <div class="review-form-field rating-field">
                            <div>
                                <label for="rating" >Rating</label>
                                <input class="review-form-inputs rating" type="number" name="rating" value="5" min="1" max="5">
                            </div>
                            <input value="<%= bookTitle %>" type="hidden" name="bookTitle">
                            <button class="review-form-submit-btn" type="submit">Add Review</button>
                        </div>
                    </form>
                <% } else { %>
                
                
                    <a class="login-review-msg" href="/login">
                        <div class="login-msg">
                            <p>LOGIN TO WRITE A REVIEW!</p>
                        </div>
                    </a>
                                
                <% } %>

                <!-- REVIEWS GO HERE -->
                
                <% if(reviews.length > 0) { %>

                    <% for (review of reviews) { %>

                        <div class="review-section" id="<%= review._id %>">
                            <a href="/user/<%= review.author._id %>/profile">
                                <img src="<%= review.author.profilePicUrl %>" alt="profile pic">
                            </a>
                            <a href="/user/<%= review.author._id %>/profile">
                                <p><%= review.author.username %></p>
                            </a>

                            <p>TITLE: <%= review.title %></p>
                            <span>REVIEW: <%= review.review %></span>
                            <p class="review__rating">RATING: 
                                <% for(star of review.rating) { %>
                                    
                                    <% if(star === '*') { %>
                                        <i class="fas fa-star"></i>                                   
                                    <% } %>

                                    <% if(star === '-') { %>
                                        <i class="far fa-star"></i>
                                    <% } %>

                                <% } %>
                            </p>
                       
                        </div>

                    <% } %>

                <% } else { %>
                
                    <div class="no-reviews">
                        <p>No reviews found for this book!</p>
                    </div>                
                
                <% } %>

            </div>

        </div>
        
        <div class="rightContainer">
                <p class="similar-books-tag">Similar books</p>

        </div>

    </div>
</div>




<%- include('../includes/bottom') %>