<%- include('../includes/top') %>

<div class="container mt-4 text-dark">
    <div class="row">

        <div class="col-12 col-md-4 col-lg-2 text-center px-4">

            <div class="container-fluid">
                <div class="row">
                    
                    <div class="col-6 col-sm-8 col-md-12 mt-2">
                        <img src="<%= bookCoverUrl %>" alt="<%= bookTitle %> book cover" class="book-cover img-fluid w-100">
                    </div>
                    
                    <div class="col-6 col-sm-4 col-md-12 px-0">
                        <p class="text-primary font-weight-bold my-2">
                            <small class="font-weight-bold text-dark">GoodReads rating:</small><br>
                            <% for(r of avgRating) { %>
                                <% if(r === "*") { %>
                                    <i class="fas fa-star"></i>
                                <% } else { %>
                                    <i class="far fa-star"></i>
                                <% } %>
                            <% } %>
                        </p>
            
                        <p class="text-center mb-2 font-weight-bold">
                            Num of pages:<br>
                            <span class="text-primary">
                                <%= numOfPages %>
                            </span>
                        </p>
            
                        <p class="text-center mb-2 font-weight-bold">
                            Publication date:<br>
                            <span class="text-primary">
                                <%= publicationYear %>
                            </span>
                        </p>
            
                        <p class="text-center mb-2 font-weight-bold">
                            Publisher:<br>
                            <span class="text-primary">
                                <%= publisher %>
                            </span>
                        </p>
            
                        <p class="text-center mb-2 font-weight-bold">
                            Language:<br>
                            <span class="text-primary">
                                <%= language %>
                            </span>
                        </p>
            
                        <p class="text-center mb-2 font-weight-bold">
                            Format:<br>
                            <span class="text-primary">
                                <%= format %>
                            </span>
                        </p>
            
                        <p class="text-center mb-2 font-weight-bold">
                            ISBN:<br>
                            <span class="text-primary">
                                <%= isbn %>
                            </span>
                        </p>
                    </div>

                </div>
            </div>
            
            
            
            
        </div>

        <div class="col-12 col-md-8 col-lg-6 px-4">
            <h1 class="book-title display-4 text-primary"><%= bookTitle %></h1>
            <strong>By <a href="/author/<%= authorId %>"><%= author %> </a></strong>
            <div class="mt-4">
                <% for (p of review) { %>
                    <p><%= p %></p>
                <% } %>        
            </div>
        </div>

        <div class="col-12 col-lg-4">
            <div class="card bg-secondary">
                <div class="card-header">
                    <h3 class="card-title text-primary m-0">Similar books</h3>
                </div>
                <div class="similar-books card-body">
                    
                    <a href="">
                        <img src="https://i.gr-assets.com/images/S/compressed.photo.goodreads.com/books/1327931476i/816._SX98_.jpg" alt="">
                    </a>
                    
                    <a href="">
                        <img src="https://i.gr-assets.com/images/S/compressed.photo.goodreads.com/books/1327931476i/816._SX98_.jpg" alt="">
                    </a>
                    
                    <a href="">
                        <img src="https://i.gr-assets.com/images/S/compressed.photo.goodreads.com/books/1327931476i/816._SX98_.jpg" alt="">
                    </a>
                    
                    <a href="">
                        <img src="https://i.gr-assets.com/images/S/compressed.photo.goodreads.com/books/1327931476i/816._SX98_.jpg" alt="">
                    </a>
                    
                    <a href="">
                        <img src="https://i.gr-assets.com/images/S/compressed.photo.goodreads.com/books/1327931476i/816._SX98_.jpg" alt="">
                    </a>
                    
                    <a href="">
                        <img src="https://i.gr-assets.com/images/S/compressed.photo.goodreads.com/books/1327931476i/816._SX98_.jpg" alt="">
                    </a>
                    
                    <a href="">
                        <img src="https://i.gr-assets.com/images/S/compressed.photo.goodreads.com/books/1327931476i/816._SX98_.jpg" alt="">
                    </a>
                    
                    <a href="">
                        <img src="https://i.gr-assets.com/images/S/compressed.photo.goodreads.com/books/1327931476i/816._SX98_.jpg" alt="">
                    </a>
                    
                    <a href="">
                        <img src="https://i.gr-assets.com/images/S/compressed.photo.goodreads.com/books/1327931476i/816._SX98_.jpg" alt="">
                    </a>
                    
                    <a href="">
                        <img src="https://i.gr-assets.com/images/S/compressed.photo.goodreads.com/books/1327931476i/816._SX98_.jpg" alt="">
                    </a>
                    
                    <a href="">
                        <img src="https://i.gr-assets.com/images/S/compressed.photo.goodreads.com/books/1327931476i/816._SX98_.jpg" alt="">
                    </a>
                    
                    <a href="">
                        <img src="https://i.gr-assets.com/images/S/compressed.photo.goodreads.com/books/1327931476i/816._SX98_.jpg" alt="">
                    </a>
                    
                </div>
            </div>
        </div>

    </div>
</div>

<%- include('../includes/bottom') %>