<%- include('../includes/top') %>

<div class="container mt-4 text-dark">
    <div class="row">

        <div class="col-12 col-md-4 col-lg-2 text-center px-4">

            <div class="container-fluid">
                <div class="row">
                    
                    <div class="col-6 col-sm-8 col-md-12 mt-2">
                        <% if(isAuthenticated) { %>

                            <% if(isBookSaved) { %>
                                <form action="/book/<%= bookId %>/delete" method="POST">
                                    <input class="btn btn-danger btn-sm mb-2 w-100" type="submit" value="Remove book">
                                </form>
    
                            <% } else { %>
    
                                <form action="/book/<%= bookId %>/save" method="POST">
                                    <input type="hidden" name="bookTitle" value="<%= bookTitle %>">
                                    <input type="hidden" name="bookImage" value="<%= bookCoverUrl %>">
                                    <input class="btn btn-info btn-sm mb-2 w-100" type="submit" value="Save book">
                                </form>
    
                            <% } %>
    
                        <% } %>
        
                        <img src="<%= bookCoverUrl %>" alt="<%= bookTitle %> book cover" class="book-cover img-fluid w-100">
                    </div>
                    
                    <div class="col-6 col-sm-4 col-md-12 px-0">
                        <p class="text-primary font-weight-bold my-2">
                            <small class="font-weight-bold text-dark">GoodReads rating:</small><br>
                            <% for(r of avgRating) { %>
                                <% if(r === "*") { %>
                                    <i class="fas fa-star"></i>
                                <% } else { %>
                                    <i class="far fa-star"></i>
                                <% } %>
                            <% } %>
                        </p>
            
                        <p class="text-center mb-2 font-weight-bold">
                            Num of pages:<br>
                            <span class="text-primary">
                                <%= numOfPages %>
                            </span>
                        </p>
            
                        <p class="text-center mb-2 font-weight-bold">
                            Publication date:<br>
                            <span class="text-primary">
                                <%= publicationYear %>
                            </span>
                        </p>
            
                        <p class="text-center mb-2 font-weight-bold">
                            Publisher:<br>
                            <span class="text-primary">
                                <%= publisher %>
                            </span>
                        </p>
            
                        <p class="text-center mb-2 font-weight-bold">
                            Language:<br>
                            <span class="text-primary">
                                <%= language %>
                            </span>
                        </p>
            
                        <p class="text-center mb-2 font-weight-bold">
                            Format:<br>
                            <span class="text-primary">
                                <%= format %>
                            </span>
                        </p>
            
                        <p class="text-center mb-2 font-weight-bold">
                            ISBN:<br>
                            <span class="text-primary">
                                <%= isbn %>
                            </span>
                        </p>
                    </div>

                </div>
            </div>      
        </div>

        <div class="col-12 col-md-8 col-lg-6 px-4">
            <h1 class="book-title display-4 text-primary"><%= bookTitle %></h1>
            <strong>By <a href="/author/<%= authorId %>"><%= author %> </a></strong>
            
            <div class="my-4">
                <% for (p of bookDesc) { %>
                    <p><%= p %></p>
                <% } %>        
            </div>

        </div>

        <div class="col-12  col-lg-4 p-4 px-md-0">
            <div class="card bg-secondary">
                <div class="card-header">
                    <h3 class="card-title text-primary m-0">Similar books</h3>
                </div>
                <div class="similar-books card-body">
                    
                    <% for (book of similar_books) { %>
                    
                        <a class="similar-book" href="/book/<%= book.id[0] %>">
                            <img src="<%= book.image_url[0] %>" alt="">
                        </a>
                    
                    <% } %>

                </div>
            </div>
        </div>
    </div>

    <div class="container-fluid px-0">
        <div class="col-12 col-lg-8">

            <% if(isAuthenticated) { %>

                <form class="mb-5 mt-4" action="/review/<%= bookId %>" method="POST">
                    <h3 class="bg-primary text-light text-center pb-1 pl-2">Write a review!</h3>

                    <input type="hidden" name="bookTitle" value="<%= bookTitle %>">
                    
                    <div class="form-group">
                        <input type="text" class="form-control" name="reviewHeading" placeholder="Heading for your review (required)">
                    </div>
                    
                    <div class="form-group">
                        <textarea class="form-control" name="reviewBody" placeholder="Write your review here (required)" rows="5"></textarea>
                    </div>
                    
                    <label for="reviewRating">Your rating for this book (Required)</label>
                    
                    <select class="form-control" id="reviewRating" name="reviewRating">
                        <option>1</option>
                        <option>2</option>
                        <option>3</option>
                        <option>4</option>
                        <option>5</option>
                    </select>

                    <div class="text-right">
                        <button class="btn btn-primary button button--w-25 mt-4" type="submit">Submit review</button>
                    </div>
                </form>
    
            <% } else { %>
    
                <h3 class="text-center bg-primary pb-1 my-4 review-form-heading">
                    <a href="/login">Login to write a review!</a>
                </h3>
    
            <% } %>

            <div class="container-fluid">

                <% if(reviews.length > 0) { %>

                    <% for (review of reviews) { %>
        
                        <div class="book-review media border rounded p-3 mb-4 p-sm-4" id="<%= review._id %>">
                            <a href="/user/<%= review.author._id %>/profile">
                                <img src="<%= review.author.profilePicUrl %>" class="mr-3 d-none d-sm-block rounded-circle" alt="..." style="width: 64px; height: 64px;">
                            </a>
                            <div class="media-body ">
                                <a href="/user/<%= review.author._id %>/profile">
                                    <img src="<%= review.author.profilePicUrl %>" class="mr-3 rounded-circle d-sm-none" alt="..." style="width: 64px; height: 64px;">
                                </a>
                                <h4 class="mt-0  text-primary"><%= review.title %></h4>

                                <p class="text-primary mb-2">
                                    <% for(star of review.rating) { %>
                                        
                                        <% if(star === '*') { %>
                                            <i class="fas fa-star"></i>                                   
                                        <% } %>
    
                                        <% if(star === '-') { %>
                                            <i class="far fa-star"></i>
                                        <% } %>
    
                                    <% } %>
                                </p>

                                <p class="book-review__review"><%= review.review %></p>
                            </div>
                        </div>

                    <% } %>

                <% } else { %>
                
                    <div class="no-reviews">
                        <p>No reviews found for this book!</p>
                    </div>                
                
                <% } %>
                
            </div>

        </div>
    </div>
</div>

<%- include('../includes/bottom') %>