<%- include('../includes/top') %>


<div class="main-section">
    
    <div class="form-error-alert <% if(errors.length > 0) { %> render <% } else { %> '' <% } %>">
        <%= errors.find(e => e.param === 'email=false') ? "Please enter a valid email address" : ' ' %>
        <%= errors.find(e => e.param === 'password=false') ? "Please enter a valid password" : ' ' %>
        <%= errors.find(e => e.param === 'user=false') ? "Invalid email, please try again" : ' ' %>
        <%= errors.find(e => e.param === 'ValidUserPassword=false') ? "Invalid password, please try again" : ' ' %>
    </div>

        <div class="form-section">
            <h1 class="form-title">Login to your account</h1>
            <form class="form" action="/login" method="POST">
                                
                <label class="label" for="email">
                    Email
                </label>
                <input class="form-input" type="email" name="email" placeholder="Email Address" />
                
                <label class="label" for="password">
                    Password
                </label>
                <input class="form-input" type="password" name="password" placeholder="Password" />
                
                <input class="submit" type="submit" value="Login" />
            </form>
        </div>
        
    </div>


<%- include('../includes/bottom') %>