<%- include('../includes/top') %>
<div class="result__information position-fixed w-100">
    <div class="container">
        <div class="row text-dark justify-content-between d-block d-sm-flex">

            <p class="text-center m-0">
                <span class="font-weight-bold"><%= numOfResults %></span> results for <span class="text-primary font-weight-bold">"<%= searchQuery %>"</span>
            </p>

            <p class="text-center m-0">
                <span class="font-weight-bold text-primary"><%= resultStart %> - <%= resultEnd %></span> of <span class="font-weight-bold"><%= numOfResults %></span> results
            </p>
            
        </div>
    </div>
</div>

<section class="result__list container mt-5">
    <% if(numOfResults > 0) { %>
    
        <ul class="list-unstyled">
            <% for (book of books) { %>

                <li class="result__element media py-3 border-bottom">
                    <a href="#">
                        <img class="d-inline-block mr-3" src="<%= book.image_url %>" alt="<%= book.title %> book cover">
                    </a>
                    <div class="media-body">
                        <a class="result__title" href="#">
                            <h3 class="d-inline-block"><%= book.title %></h3>
                        </a>
                        <p>By <span class="text-primary font-weight-bold"><%= book.author %></span> </p>
                    </div>
                </li>
        
            <% } %>
        </ul>

        <%- include('../includes/pagination') %>
    
    <% } else { %>
    
        <h1 class="text-center">No results for <span class="text-primary">"<%= searchQuery %>"</span> </h1>
        
    <% } %>
</section>

<%- include('../includes/bottom') %>