<%- include('../includes/top') %>
<div class="result__information">
    <div class="container">
        <div class="row text-dark justify-content-between d-block d-sm-flex">

            <p class="text-center m-0">
                <span class="font-weight-bold"><%= numOfResults %></span> results for <span class="text-primary font-weight-bold">"<%= searchQuery %>"</span>
            </p>

            <p class="text-center m-0">
                <span class="font-weight-bold text-primary"><%= resultStart %> - <%= resultEnd %></span> of <span class="font-weight-bold"><%= numOfResults %></span> results
            </p>
            
        </div>
    </div>
</div>
<%- include('../includes/bottom') %>