<%- include('../includes/top') %>

    <div class="main-section">

        <%- include('../includes/navbar') %>

        <div class="form__error-alert <% if(inputErrors.length > 0) { %> form__error-alert--render <% } %>">
            <% if(inputErrors.find(e => e.param === 'invalidUsername=true')) { %>
                <p><i class="fas fa-exclamation"></i> Please enter a valid username. <i class="fas fa-exclamation"></i></p>
            <% } %>

            <% if(inputErrors.find(e => e.param === 'usernameTaken=true')) { %>
                <p><i class="fas fa-exclamation"></i> Username already taken, please try another username. <i class="fas fa-exclamation"></i></p>
            <% } %>

            <% if(inputErrors.find(e => e.param === 'invalidEmail=true')) { %>
                <p><i class="fas fa-exclamation"></i> Please enter a valid email. <i class="fas fa-exclamation"></i></p>
            <% } %>

            <% if(inputErrors.find(e => e.param === 'validEmailTaken=true')) { %>
                <p><i class="fas fa-exclamation"></i> Email already registered, please try another email. <i class="fas fa-exclamation"></i></p>
            <% } %>

            <% if(inputErrors.find(e => e.param === 'validPasswordLength=false')) { %>
                <p><i class="fas fa-exclamation"></i> Password too short, please enter a password with at least 5 characters. <i class="fas fa-exclamation"></i></p>
            <% } %>

            <% if(inputErrors.find(e => e.param === 'validPasswordMatch=false')) { %>
                <p><i class="fas fa-exclamation"></i> Passwords do not match, please make sure both password fields match. <i class="fas fa-exclamation"></i></p>
            <% } %>
        </div>

        <div class="form__section <% if(inputErrors.length > 0) { %> '' <% } else { %> u-mt-5 <% } %>">

            <h1 class="form__title">Create an account</h1>
            <form class="form__form" action="/signup" method="POST">
                <p class="form__require-message">
                    <span class="require--red">*</span>
                    <span class="form__require-text">required</span>

                </p>
                <label class="form__label" for="username">
                    Username <span class="require--red">*</span>
                </label>
                <input 
                    class="form__input <%= inputErrors.find(e => e.param === 'usernameTaken=true' || e.param === 'invalidUsername=true') ? 'input-error' : '' %>" 
                    type="text" 
                    name="username" 
                    value="<%= inputValues.username %>" 
                    placeholder="Username" 
                />
                
                <label class="form__label" for="email">
                    Email <span class="require--red">*</span>
                </label>
                <input 
                    class="form__input <%= inputErrors.find(e => e.param === 'validEmailTaken=true' || e.param === 'invalidEmail=true') ? 'input-error' : '' %>" 
                    type="email" 
                    name="email" 
                    value="<%= inputValues.email %>" 
                    placeholder="Email Address" 
                />
                
                <label class="form__label" for="password">
                    Password <span class="form__label--message">(5 characters min) </span> <span class="require--red">*</span>
                </label>
                <input 
                    class="form__input <%= inputErrors.find(e => e.param === 'validPasswordLength=false') ? 'input-error' : '' %>" 
                    type="password" 
                    name="password1" 
                    value="<%= inputValues.password1 %>" 
                    placeholder="Password" 
                />
                
                <label class="form__label" for="password">
                    Confirm password <span class="require--red">*</span>
                </label>
                <input 
                    class="form__input <%= inputErrors.find(e => e.param === 'validPasswordMatch=false' || e.param === 'validPasswordLength=false') ? 'input-error' : '' %>" 
                    type="password" 
                    name="password2" 
                    value="<%= inputValues.password2 %>" 
                    placeholder="Confirm Password" 
                />
                
                <input class="form__submit form__submit--hover" type="submit" value="Create" />
            </form>
        </div>
        
    </div>


<%- include('../includes/bottom') %>