<%- include('../includes/top') %>

    <div class="main-section">

        <div class="form-error-alert <% if(inputErrors.length > 0) { %> render <% } else { %> '' <% } %>">
            <%= inputErrors.find(e => e.param === 'invalidUsername=true') ? "Please enter a valid username." : ' ' %>
            <%= inputErrors.find(e => e.param === 'usernameTaken=true') ? "Username already taken, please try another username." : ' ' %>
            <%= inputErrors.find(e => e.param === 'invalidEmail=true') ? "Please enter a valid email." : ' ' %>
            <%= inputErrors.find(e => e.param === 'validEmailTaken=true') ? "Email already registered, please try another email." : ' ' %>
            <%= inputErrors.find(e => e.param === 'validPasswordLength=false') ? "Password too short, please enter a password with at least 5 characters." : ' ' %>
            <%= inputErrors.find(e => e.param === 'validPasswordMatch=false') ? "Passwords do not match, please make sure both password fields match." : ' ' %>
        </div>

        <div class="form-section">
            <h1 class="form-title">Create an account</h1>
            <form class="form" action="/signup" method="POST">
                <p class="require-message">
                    <span class="required">*</span>
                    <span class="required-msg">required</span>

                </p>
                <label class="label" for="username">
                    Username <span class="required">*</span>
                </label>
                <input 
                    class="form-input <%= inputErrors.find(e => e.param === 'usernameTaken=true' || e.param === 'invalidUsername=true') ? 'input-error' : '' %>" 
                    type="text" 
                    name="username" 
                    value="<%= inputValues.username %>" 
                    placeholder="Username" 
                />
                
                <label class="label" for="email">
                    Email <span class="required">*</span>
                </label>
                <input 
                    class="form-input <%= inputErrors.find(e => e.param === 'validEmailTaken=true' || e.param === 'invalidEmail=true') ? 'input-error' : '' %>" 
                    type="email" 
                    name="email" 
                    value="<%= inputValues.email %>" 
                    placeholder="Email Address" 
                />
                
                <label class="label" for="password">
                    Password <span class="label-message">(5 characters min) </span> <span class="required">*</span>
                </label>
                <input 
                    class="form-input <%= inputErrors.find(e => e.param === 'validPasswordLength=false') ? 'input-error' : '' %>" 
                    type="password" 
                    name="password1" 
                    value="<%= inputValues.password1 %>" 
                    placeholder="Password" 
                />
                
                <label class="label" for="password">
                    Confirm password <span class="required">*</span>
                </label>
                <input 
                    class="form-input <%= inputErrors.find(e => e.param === 'validPasswordMatch=false' || e.param === 'validPasswordLength=false') ? 'input-error' : '' %>" 
                    type="password" 
                    name="password2" 
                    value="<%= inputValues.password2 %>" 
                    placeholder="Confirm Password" 
                />
                
                <input class="submit" type="submit" value="Create" />
            </form>
        </div>
        
    </div>


<%- include('../includes/bottom') %>